
header nav ul a {
  color:rgb(143, 6, 6);
  text-decoration: none;
  padding:0 8px;
  /* השינוי יתבצע באנימציה
  של 0.8 שניות */
  transition: 800ms;
}

header nav ul a:hover {
  color: #eaf1f1;
}


.floating-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1000;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(200, 6, 6, 0.64);
}

.custom-green-button {
  background-color: #a64e00;
}

